.repo-container {
  width: 60%;
  float: right;
  margin-top: 2em;
  margin-right: 20em;
}
.repo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.left-sec {
  width: 60%;
}
.left-sec > h2 {
  font-size: 22px;
  color: rgb(0, 102, 255);
}
span.repo-type{
  text-align: center;
  width: 60px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  color: #000000; 
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid rgb(165, 165, 165);
  margin-left: 1em;
  
}
.repo-description {
  font-size: 16px;
}
.repo-details {
  display: flex;
  justify-content: flex-start;
}
.repo-details >p {
    margin: 0em 2em;
}
.repo-details >p:first-child{
    margin-left: 0;
}
.star-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.repo-star {
  padding: .7em 1.3em;
  font-size: 14px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px 0 0 10px;
  border: 1px solid #ccc;
  margin-top: 1em;  
  cursor: pointer;

}
.repo-sort {
  border-radius: 0 10px 10px 0;
  padding: .63em 1em;
  border: 1px solid #ccc;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
  margin-top: 2em;
}
.repo-star:hover{
    background-color: rgb(243, 243, 243);
}
.repo-icon {
  font-size: 14px;
  margin-right: 0.2em;
  margin-bottom: -.2em;
}
.repo-star-icon{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -.1em;
    margin-right: .2em;
}