.search-container{
    width: 60%;
    margin: auto;
    float: right;
    padding: 1.6em 0;
    margin-right: 10em;
    border-bottom: 1px solid #ccc;
}
.search-input{
    width: 65%;
    font-size: 12px;
    padding: .8em 1em;
    margin-right: 1em;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.search-type, .search-sort{
    padding: .5em 0em;
    padding-left: 1em;
    font-size: 14px;
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 1px 1px rgb(192, 192, 192);
}
.search-language{
    padding: .5em 0em;
    padding-left: 1em;
    font-size: 14px;
    margin: 0em 1em;
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 1px 1px rgb(192, 192, 192);
}